.nav-items {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5%;
    font-size: 35px;
}

.nav-items h1 {
    font-family: Arial, sans-serif;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.button-profile-container {
    position: relative;
}

.button-join {
    border: 1px solid black;
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
}

.button-join:hover {
    background-color: #1dbf73;
}

.button-join:active {
    background-color: #188652;
}

.button-profile-icon {
    position: relative;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    background-color: #1dbf73;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.menu-container {
    position: absolute;
    width: 150px;
    top: 50px;
    right: 0;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-option {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(112, 112, 112);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding-left: 10px;
    width: 100%;
    text-align: left;
}

.menu-option:hover {
    background-color: #d8d8d8;
    border-radius: 0px;
}

.menu-option:last-child {
    margin-bottom: 10px;
}

.dropdown-hr {
    width: 90%;
    color: grey;
    opacity: 0.3;
}

.menu-container p:first-child {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: rgb(112, 112, 112);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding-left: 10px;
    width: 100%;
    text-align: left;
}

.menu-container p:last-child {
    font-size: 18px;
}
