.all-page {
    display: flex;
    flex-direction: column;
}

.gig-show-main-content {
    margin-top: 10px;
    border-top: 1px solid lightgrey;
    padding-top: 2%;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 2%;
}

.gig-showcase {
    display: flex;
    gap: 8%;
}

.purchase-modal {
    display: flex;
    flex-direction: column;
    width: 50vh;
    background-color: white;
}

#easterEgg {
    margin-top: 10%;
    color: red
}




