.all-page {
    display: flex;
    flex-direction: column;
}

.gig-show-main-content {
    padding: 2% 8% 1000% 8%; 
}

.gig-showcase {
    display: flex;
    gap: 10%;
}

.purchase-modal {
    position: sticky;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 42%;
}




