.signed-in-nav, .signed-out-nav {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0);
    padding-top: 2%;
}

#logo {
    width: 40%;
    height: 70%;
}

a {
    position: relative;
    left: 2.5%;
}