.gig-show-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 58%;

}

.gig-show-title {
    color: #404145;
    font-size: 170%;
    font-weight: 500;
    padding-bottom: 2%;
}

.gig-show-top-user-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5%;
    padding-bottom: 2%;
}

.gig-show-top-user-info p {
    position: relative;
    top: 2px;
    font-size: 85%;
    align-self: flex-start;
}

#gig-show-img {
    width: 100%;
    height: auto;
    max-height: 618px;
}

.gig-description h1 {
    color: #404145;
    font-size: 120%;
    font-weight: 500;
    padding-top: 2%;
    padding-bottom: 2%;
}

.gig-description p {
    color: #404145;
}

.gig-showcase-bubble-profile {
    position: relative;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    background-color: #1dbf73;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gig-showcase-hr {
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0 0 0;
}

.gig-show-container h2 {
    font-size: 120%;
    font-weight: 500;
    color: #404145
}

.about-seller {
    display: flex;
    margin-top: 6%;
    gap: 5%;
    margin-bottom: 6%;
}

.about-seller-profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1dbf73;
    color: white;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.about-seller-name-username {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.about-seller-name-username h1 {
    font-weight: 500;
    padding-bottom: 2%;
}

.gig-reviews {
    margin-top: 5%;
}

#last-hr {
    margin-top: 5%;
    margin-bottom: 2%;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0 0 0;
}

.create-review-button p {
    margin-top: 3%;
}

.reviews-header {
    display: flex;
    justify-content: space-between;
}

.reviews-header p {
    padding: 1%;
    align-self: flex-start;
    background-color: #cdcecd;
    font-weight: 500;
    cursor: pointer;
    color: #404145
}

.reviews-header p:hover {
    background-color: #1dbf73;
}

.reviews-header h2 {
    align-self: center;
}