.review-container {
    display: flex;
    gap: 3%;
    width: 100%;
    margin-bottom: -2%;
}

.reviewer-profile-bubble {
    position: relative;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    background-color: #1dbf73;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.review-content h3 {
    font-size: 90%;
    font-weight: 500;
    color: #404145;
}

.review-content p {
    font-size: 90%;
}

#review-showcase-hr {
    margin-top: 4%;
    margin-bottom: 4%;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0 0 0;
}

.edit-delete-review {
    padding-top: 1%;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    font-size: small;
}

.edit-delete-review p{
    color: #404145;
    padding: .5%;
    cursor: pointer;
    background-color: #cdcecd;
    font-size: 110%;
}

.edit-delete-review p:hover {
    background-color: #1dbf73;
}

/* padding: 1%;
align-self: flex-start;
background-color: #cdcecd;
font-weight: 500;
cursor: pointer;
color: #404145; */
