.gig-card-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.5%;
    padding-left: 3%;
}



