.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
  background-color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f7f7f7;
}

.user-display-header {

  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-bottom: .7%;
  background-color: white;

}

.card-and-reviews {
  border-top: 1px solid lightgrey;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 20px;
  background-color: #f7f7f7;
}

@media (min-width: 768px) {
  .card-and-reviews {
    justify-content: center;
    padding: 20px;
  }
}

.nav-items h1 {
  color: black;
}