.main-wrapper {
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  /* padding-top: 4%;
  padding-left: 1%; */
  padding: 3.8% 1.2% 4% 1.2%;
  /* gap: 50px; */
  /* padding: 20px; */
  background-color: #f7f7f7;
  /* background-color: blue; */
}

.reviews-and-gigs {
  width: 59.5%;
  
}

.profileCard {
  width: 32%;
}

/* @media (min-width: 768px) {
  .card-and-reviews {
    justify-content: center;
    padding: 20px;
  }
} */


