.gig-card {
    background-color: white;
    width: 22%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2.5%;
}

Link {
    text-decoration: none;
}

.gig-card p {
    font-size: 12px;
    margin: 0;
    text-overflow: ellipsis;
}

#gig-image {
    width: 100%;
    height: 17rem;
    border-radius: 4%;
}

.gig-card-left-right {
    position: relative;
    bottom: 16.8vh;
    width: 21vw;
    display: flex;
    justify-content: space-around;
    gap: 70%;
    margin-bottom: -3.775vh;

}

.image-cycle-button {
    background-color:#62646a;
}

.iamge-cycle-button:hover {
    background-color: #404145;
}

.seller-profile-bubble {
    position: relative;
    font-size: 25px;
    font-weight: lighter;
    color: white;
    background-color: #1dbf73;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    min-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller-info {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 12px;
}

.seller-name {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100%;
    text-overflow: ellipsis;
}

.seller-name h2 {
    font-size: 120%;
    font-weight: 700;
    color: #222325;
    font-family: arial;
}

.seller-name h2:hover {
    text-decoration: underline;
}

.gig-title {
    display: flex;
    justify-content: flex-start;
    height: 8vh;
    max-height: 8vh;
    /* border-bottom: 1px solid #ccc; */
    /* background-color: red; */
}

.gig-title h2 {
    font-size: 150%;
    padding-top: 14px;
    color: #404145;
}

.gig-title h2:hover {
    text-decoration: underline;
}

.base-price {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.base-price h1 {
    color: #222325;
    font-size: x-large;
    font-weight: 600;
    font-family: arial;
    /* padding: 2% 4% 2% 2%; */
}

.base-price p {
    top: 7%;
    position: relative;
    color: #62646a;
    align-self: safe;
}