.gig-card {
    background-color: white;
    width: 22%;
    height: 22%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2.5%;
    /* margin-right: 3%; */
}

Link {
    text-decoration: none;
}

.gig-card p {
    font-size: 12px;
    margin: 0;
    text-overflow: ellipsis;
}

#gig-image {
    width: 100%;
    border-radius: 4%;
}

.seller-profile-bubble {
    position: relative;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    background-color: #1dbf73;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller-info {
    display: flex;
    padding: 5%;
    align-items: center;
}

.seller-name {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100%;
    text-overflow: ellipsis;
}

.seller-name p {
    font-size: 110%;
}

.gig-title {
    display: flex;
    justify-content: flex-start;
    height: 6vh;
    border-bottom: 1px solid #ccc;
    padding: 5%;
}

.gig-title:hover {
    color: #1dbf73;
}

.gig-title p {
    font-size: 100%;
    font-weight: 400rem;
}

.base-price {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.base-price h2 {
    color: #62646a;
    font-size: 120%;
    padding: 2% 4% 2% 2%;
    align-self: center;
}

.base-price p {
    top: 7%;
    position: relative;
    color: #62646a;
    align-self: safe;
}