.review-modal-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 90%;
    text-align: center;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.review-modal-header {
    font-size: 24px;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 20px;
}

.review-modal-textarea {
    resize: none;
    overflow-y: auto;
    width: 100%;
    height: 100px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.review-modal-button {
    width: 100%;
    padding: 10px;
    background-color: #1dbf73;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.review-errors {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: left;
}